.marginButton {
    margin-bottom: 10%;
}

/*BUTTON*/

.ButtonForm {
    box-shadow: inset 0px 0px 0px 0px #f29c93;
    background-color: #fe1a00;
    border-radius: 8px;
    border: 2px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 117%;
    padding: 15px 76px;
    text-decoration: none;
    opacity: 100%;
    width: 30%;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-left: 15%;
}

.ButtonForm:hover {
    background-color: #ce0100;
}

.ButtonForm:active {
    position: relative;
    top: 1px;
}

.Button {
    box-shadow: inset 0px 0px 0px 0px #f29c93;
    background-color: #fe1a00;
    border-radius: 8px;
    border: 2px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 76px;
    text-decoration: none;
    opacity: 100%;
    line-height: 0em;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 14%;
}
textarea {
    margin-left: 14%;
}

.menu{
    width: 72%;
    padding: .5em;
    height: 3em;
    border: 3px solid #ff0000;
}

@media (min-width: 720.98px) {
    textarea {
        font-family: 'Helvetica';
        font-size: 0.3em;
        width: 70%;
        height: 15em;
        margin: auto;
        border: 3px solid #ff0000;
        opacity: 50%;
    }
    .ButtonForm {
        margin-left: 25%;
        margin-right: 17%;
    }
    .marginButton {
        margin-bottom: 6%;
    }
    .inputField {
        width: 100%;
    }
    .col {
        width: 30%;
        float: left;
        margin-left: -12%;
        margin-right: -4.4%;
        margin-bottom: 2%;
        padding-left: 26.7%;
    }
    .TextAreaField {
        text-align: center;
        font-size: 60px;
        padding-top: 50px;
        padding-bottom: 10px;
        position: initial;
        margin-block-start: -30px;
    }
    input {
        width: 80%;
        height: 2em;
        margin: auto;
        margin-left: -12%;
        border: 3px solid #ff0000;
        opacity: 50%;
    }
    .input-text {
        text-align: center;
        display: inline-block;
        padding: 0px 43px;
        line-height: 126%;
        font-size: 0.3em;
        margin-left: -4%;
        margin-bottom: 1%;
        margin-right: -4%;
        padding-left: -5%;
        margin-left: -3%;
    }
    .Button {
        box-shadow: inset 0px 0px 0px 0px #f29c93;
        background-color: #fe1a00;
        border-radius: 8px;
        border: 2px solid #d83526;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-size: 20px;
        font-weight: 200;
        padding: 10px 76px;
        text-decoration: none;
        opacity: 100%;
        line-height: 0em;
        width: 70.9%;
        margin-left: 14.6%;;
        margin-top: 1%;
        margin-bottom: 3%;
    }
    .menu{
        width: 100%;
    }
    @media (min-width: 768px) {
        .col {
            width: 29.7%;
            float: left;
            margin-left: -12%;
            margin-right: -4.4%;
            margin-bottom: 2%;
            padding-left: 28.8%;
        }
        .inputField {
            width: 90%;
        }
    }
    @media (width: 1280px) and (height: 720px) {
        .col {
            width: 32.4%;
            float: left;
            margin-left: -12%;
            margin-right: -4.4%;
            margin-bottom: 2%;
            padding-left: 28.8%;
        }
        .ButtonForm {
            margin-left: 33.6%;
            margin-right: -5%;
            margin-top: 20px;
        }
    }
    @media (min-width: 1024px) {
        .col {
            width: 32.4%;
            float: left;
            margin-left: -12%;
            margin-right: -4.4%;
            margin-bottom: 2%;
            padding-left: 28.8%;
        }
        .ButtonForm {
            opacity: 100%;
            width: 20%;
            position: relative;
            margin-left: 33.8%;
            margin-right: 24%;
        }
    }
    @media (width: 1280px) and (height: 800px) {
        .col {
            width: 32.4%;
            float: left;
            margin-left: -12%;
            margin-right: -4.4%;
            margin-bottom: 2%;
            padding-left: 28.8%;
        }
        .ButtonForm {
            margin-left: 33.6%;
            margin-right: -5%;
            margin-top: 20px;
        }
    }
    @media (width: 1440px) and (height: 900px) {
        .col {
            width: 33%;
            float: left;
            margin-left: -12%;
            margin-right: -4.4%;
            margin-bottom: 2%;
            padding-left: 28.4%;
        }
        .ButtonForm {
            margin-left: 34.5%;
            margin-right: 14%;
            margin-top: 20px;
        }
    }
    @media (width: 1600px) and (height: 1200px) {}
    @media (width: 1980px) {
        .col {
            width: 38.4%;
            float: left;
            margin-left: -13.7%;
            margin-right: -11.4%;
            margin-bottom: 2%;
            padding-left: 28.8%;
        }
        .ButtonForm {
            margin-left: 35.6%;
            margin-right: -5%;
            margin-top: 20px;
        }
    }
}